* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Poppins", sans-serif;
  --bgwhite: #fff;
  --bgrey: rgb(234, 217, 217);
  --bgmeals: #450404;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --bgprimary: #fd5294;
  --bgdark: #272a31;
  --bgprimarydark: #ec4c8b;
}

.container-fluid {
  background-color: #fd5294;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2px;
  padding: 5px;
}

.grid-flex {
  display: flex;
  flex-direction: row;
}

.g-card-body {
  background-color: white !important;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  width: 195px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  border: 1px solid var(--bgcontact);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  font-family: var(--font);
  margin-top: 20px;
  cursor: pointer;
}

.g-card-body:hover {
  border: 1px solid var(--bgcontact);

  /* box-shadow: 1 2px 8px rgba(0, 0, 0, 0.26); */
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.pushTop {
  margin-top: -40px;
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .meal-header {
    display: flex;
    flex-direction: column;
  }

  .meal-header input {
    margin-bottom: 10px;
  }

  .meal-header select {
    padding: 10px;
  }

  .details {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .meal-header {
    display: flex;
    flex-direction: column;
  }
}
